body {
  font-family: "Arimo", "Arial", sans-serif;
  line-height: 1.5;
  grid-gap: 30px;
  grid-template-areas: 
    "masthead   masthead"
    "navigation about"
    "baseball   soccer"
    "basketball lacrosse"
    "rowing     softball";
}

h1 {
  color: #c7c8cc;
  background-color: rgb(0, 0, 0);
  margin-top: 0;
  padding: 20px;
  max-width: 960px;
}

header,
nav,
footer {
  font-family: "Arimo";
  background-color: rgb(0, 0, 0);
  max-width: 960px;
  padding: 10px;
}

#about {
  max-width: 960px;
}

main {
  display: grid;
  grid-gap: 30px;
  max-width: 960px;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

section {
  color: #c7c8cc;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 20px;
  max-width: 960px;
}

alt-bg {
  background-color: rgba(201, 53, 68, 0.2); 
}

p {
  font-size: 18px;
  margin-top: 0;
}

img {
  float: left;
  padding: 20px;
  margin: 10px;
}

head {
  grid-area: masthead;
}

nav {
  grid-area: navigation;
}

main {
  grid-area: section
}

a:hover {
  background-color: rgb(200, 200, 200)
}

a:active {
  background-color: rgb(0, 163, 221)
}